@use "colors" as *;

.header {
    background-color: $secondaryColor;
    color: $primaryColor;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    
    
    &__navLink{
    text-decoration: none;
    padding: 10px 20px;
    }
}
