@use "colors" as *;

.content{
    &__skillsList{
        color: $tertiaryColor;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    &__skill{
        font-size: 1.3em;
        padding: 10px;
    }
    &__skillIcon{
        font-size: 1.4em;
    }
    
}