@use 'sectionStyles' as *;
@use 'headerStyles' as *;
@use 'portfolioSectionStyles' as *;
@use 'landingSectionStyles' as *;
@use 'skillsSectionStyles' as *;
@use 'aboutSectionStyles' as *;
@use 'experienceSectionStyles' as *;
@use 'contactSectionStyles' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

