@use "../../styles/Variables.scss" as *;

.section{
    &__experienceContainer{
        width: 80%;
    }

    &__experienceHeader,&__experienceStartDate{
        padding: 5px;
    }
    &__experienceCard{
        padding: 10px;;
    }
    
}

